<section data-ng-controller="ContactController">
	<div class="page-header">
		<h1 translate>Send us an email</h1>
	</div>
	<div class="alert alert-danger" role="alert" data-ng-show="error" translate>Error on sending message</div>
	<div class="alert alert-success" role="alert" data-ng-show="success" translate>Your message has been sent</div>
	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="sendMsg()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="name" translate>Name</label>
					<div class="controls">
						<input type="text" data-ng-model="contact.name" id="name" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="email" translate>Email</label>
					<div class="controls">
						<input type="email" data-ng-model="contact.email" id="email" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="message" translate>Message</label>
					<div class="controls">
						<textarea type="text" data-ng-model="contact.message" id="message" class="form-control" required></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="{{ 'Send' | translate }}" class="btn btn-default">
				</div>
			</fieldset>
		</form>
	</div>
</section>
